<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Flats For Friends</title>

  <style>
    table {
      border-collapse: collapse;
    }

    table, th, td {
      border: 1px solid #ddd;
    }

    td {
      padding: 10px 20px;
    }

    tr:nth-child(even) {
      background-color: #f2f2f2
    }
  </style>

</head>
<body>

  <div>
    ${ user &&
      `
        <p>You are logged in as:</p>

        <h1>
          <img src="${ user.facebook.picture }" alt=""> <br>
          <span>${ user.facebook.name }</span>
        </h1>

        <p>
          <a href="/auth/logout">Logout</a>
        </p>
       ` || ''
    }
  </div>

  ${ !user &&

    `
      <div>
        <a href="/auth/facebook">
          Login with Facebook
        </a>
      </div>
    ` || ''

  }

  <div>
    <h4>All registered users:</h4>
    <table>
      ${

        all_users.map((u, index)=> {

          return `
            <tr>
              <td>
                <span>
                  ${ index+1 }
                </span>
              </td>
              <td>
                <img src="${ u.facebook.picture }" width="40" alt="">
              </td>
              <td>
                <span>${ u.facebook.name }</span>
              </td>
            </tr>
          `

        }).join('')

      }
    </table>
  </div>


</body>
</html>