<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Flats For Friends</title>

</head>
<body>

  <div>
    ${ user &&
      `
        <p>You are logged in as:</p>

        <h1>
          <img src="${ user.facebook.picture }" alt=""> <br>
          <span>${ user.facebook.name }!</span>
        </h1>

        <p>
          <a href="/auth/logout">Logout</a>
        </p>
       ` || ''
    }
  </div>

  ${ !user &&

    `
      <div>
        <a href="/auth/facebook">
          Login with Facebook
        </a>
      </div>
    ` || ''

  }




</body>
</html>